*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
img{
    border-radius: 1%;

}
span{
color: #c48600;


}
/* the main page  */

body{
    font-family: 'Poppins', sans-serif;

}
.navbar{
display: flex;
align-items: center;
padding: 20px;

}
nav{

flex: 1;
text-align: right;
}

nav ul{
display: inline-block;
list-style-type: none;
}

nav ul li{
display: inline-block;
margin-right: 20px;
}

a{
text-decoration: none;
color: #555;
}
p{
color: #555;

}

.container{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}

.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.col-2{
flex-basis: 50%;
min-width: 300px;
}

.col-2 img{
max-width: 100%;
padding: 50px 0;
}
.col-2 h1{
font-size: 50px;
line-height: 60px;
margin: 25px 0;
}
.btn{
display: inline-block;
background-color: #c48600;
color: white;
padding: 8px 30px;
margin: 30px 0;
border-radius: 30px;
transition: background 0.3s;
}
.btn:hover{
background: #563434;

    
}
.header{
background: radial-gradient(rgb(255, 255, 255), #f1cf70de);


}

.header .row{


margin-top: 70px;

}




/* end of  the main page  */

/* catogereise  */

.Categories{
margin: 70px 0;

}


.col-3{
flex-basis:30%;
max-width: 250px;
margin-bottom: 30px;
}
.col-3 img{

width: 100%;
 transition: 0.5s;
}
.col-3 img:hover{
    transform: translateY(-5px);
}
.small-container{
max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}
.col-4{
flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
transition: 0.5s;
}
.col-4 img{
width: 100%;


}
.title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;
    line-height: 60px;
    
}
h4{
color: black;
font-weight: normal;
}

.col-4 p{

font-size: 14px;

}
 .rating .fa{
     color: red;
 }
.col-4:hover{
transform: translateY(-5px);

 }
/*------ offer -----*/
 .offer{
    background: radial-gradient(rgb(255, 255, 255), #f1cf70de);
  margin-top: 80px;
  padding: 30px 0;  
 }

 .col-2 .offer-img{

padding: 60px;

 }
 small{
color: #555;

 }
 


 /*--------Testimonial------------*/

 .Testimonial {

padding-top: 100px;

    
 }

 .Testimonial .col-3{
text-align: center;
padding: 40px 20px;
box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
cursor: pointer;
transition: 0.5s;
 }
 .Testimonial .col-3 img {
   width: 50px;
   margin-top:20px ;
border-radius: 50%;
 }

 .Testimonial .col-3:hover{

    transform: translateY(-10px);
 }

 .fa.fa-quote-left{
font-size: 34px;
color: #ff523b;


 }
 .col-3 p{
font-size: 12px;
margin: 12px 0;
color: #777;

 }
 .Testimonial .col-3 h3{
font-weight: 600;
color: #555;
font-size: 16px;

 }

  /*--------brands------------*/

.brands{
margin: 100px auto;


  }

.col-5{
      width: 240px;

  }

.col-5 img{
    padding: 10px;
      width: 100%;
      cursor: pointer;
      border: chocolate 3px dotted ;
      filter: grayscale(100%);
  }
  .col-5 img:hover{
filter: grayscale(0);

  }

   /*--------footer------------*/

   .footer{
background: #000;
color: #8a8a8a;
font-size: 14px;
padding: 60px 0 20px;

   }

   .footer p{
color: #8a8a8a;
   }

   .footer h3{
color: #fff;
margin-bottom: 20px;
   }
   .footer-col-1, .footer-col-2, .footer-col-3 {
min-width:300px;
margin-bottom: 20px;
   }
   .footer-col-1{
       flex-basis: 30%;
   }
   
   .footer-col-2, .footer-col-3{
flex-basis: 12%;
text-align: center;

   }

   ul{
       list-style-type: none;
   }

.footer hr{
border: none;
background-color: #b5b5b5;
height: 1px;
margin: 20px 0;
}

.Copyright{
text-align: center;


   }

   .menu-icon{
       width: 28px;
       margin-left: 20px;
       display: none;
   }
/*----- all products page --------*/
.row-2{
justify-content: space-between;
margin: 100px auto 50px;

}

select{
border: 1.5px solid #c48600;
padding: 5px;

}


select:focus{
outline: none;

}
.page-btn span{
    border: 2px solid #c48600;
    margin: 7px;
    padding: 10px;
margin-bottom: 45px;
color: black;
border-radius: 20%;
display: inline-block;
text-align: center;
cursor: pointer;

    }
    .page-btn{
        margin-bottom: 45px;


    }
    .page-btn span:hover{
background-color: rgb(247, 216, 117);


    }

/*----- singel prouduct detailes--------*/

.single-prouduct{
margin-top: 80px;


}

.single-prouduct .col-2 img{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    padding: 0;
}

.single-prouduct .col-2 {
    padding: 20px;
}

.single-prouduct h4{
margin: 20px 0;
font-size: 22px;
font-weight: bold;

}
.single-prouduct select{
display: block;
padding: 10px;
margin-top: 20px;

}
.single-prouduct input{

width: 50px;
height: 40px;
padding-left: 10px;
font-size: 20px;
margin-right: 10px;
border: 1px solid #c48600;

}
input:focus{
    outline: none;
}
.single-prouduct .fa{
    color: #c48600;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 20%;
    cursor: pointer;
}



/*---cart detailes------*/

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{

display: flex;
flex-wrap: wrap;


}
.cart-info img{

    width: 150px;
    height: 150px;
    margin-right: 10px;
}
.data{
margin-top: 30px;
padding: 20px;

}




th{
    text-align: left;
    padding: 10px;
    color:black;
    background:#c48600 ;
    font-weight: normal;
}

td{
padding: 10px 5px ;

}
td input{
width: 40px;
height: 30px;
padding: 5px;

}

td a{
color:#c48600 ;
font-size: 12px;

}


.total-price{
display: flex;
justify-content: flex-end;

}

.total-price table{
border-top: 3px solid #c48600 ;
width: 100%;
max-width: 430px;
}
td:last-child{
text-align: right;

}
th:last-child{

    text-align: right;
}






/*----- media query for menu --------*/


@media only screen and (max-width: 800px) {
    
nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav ul li a{
    color: white;
}
.menu-icon{
    display: block;
    cursor: pointer;
}




}
/*media query for less than 600 screen size ---*/

@media only screen and (max-width: 600px){

.row{
    text-align: center;

}

.col-2, .col-3, .col-4{
    flex-basis: 100%;
}
.single-prouduct .row{
    text-align: left;
}

.single-prouduct .col-2{
padding: 20px 0;


}

.single-prouduct h1{
font-size: 26px;
line-height: 32px;

}

}